@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grain-overlay {
      background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAvVNPUCBbL9HwWji4PUxASbsGyk_L_mlhehDkGqBs01FIFRDr1ttm25-k2DogilmG2NfQm1IYQc-9WDQMz9PD73onShCdlE33d0vIp6VSSlZ0j0dzw06tkaSUQQjQfTpzDo43VQWnFYW1FnYc2f2rUcoNrU9eTdv3asiFoM8P55ZlD479IWPYeRqz20F55uPNAz84BjevhZVg9zbGVrEmLUdVBrASP54l6q_okgJ8zY3lJjLfAEqDgmTahJT5Y6eIL44Od6tDEMKfG");
      pointer-events: none;
      mix-blend-mode: overlay;
  }
  .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      vertical-align: middle;
  }
  .text-justify-editorial {
      text-align: justify;
      text-justify: inter-word;
  }
  .nav-scrolled {
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #fcf9f8; }
::-webkit-scrollbar-thumb { background: #1B4332; }
